*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin: 0;
    padding: 0;
    background: #32373d;
    min-width: 1600px;
}

/*----------FORM ĐĂNG NHẬP-----------*/
.container{
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}
.container::before{
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10px;
    right: 55%;
    background-image: linear-gradient(-45deg, #32373d 0%, #212529 100%);
    border: 2px solid #444b52;
    transform: translateY(-50%);
   border-radius: 50%;
   z-index: 6;
   transition: 1.8s ease-in-out;
}
.forms-container{
    display: flex;
    background: #fff;
    border-radius: 11px;
    margin: 30px 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s 0.7s ease-in-out;
}

.form-control label, .form-control-1 label {
    padding: 20px 0;
    font-weight: 600;
    color: #222;
    font-size: 20px;
    min-width: 167px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 50px;
    background-color: white;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding:  8px 20px;
    position: relative;
}
.form-control i, .form-control-1 i{
    margin-right: 10px;
    text-align: center;
    color: #0a0a0a;
    font-size: 1rem;
}
.input-field p{
    margin: 0;
    color: red;
    font-size: 15px;
}
.form-control, .form-control-1{
    display: flex;
    margin-bottom: 10px;
    padding: 0 60px 0 40px;
}
.form-control .input-field , .form-control-1 .input-field{
    display: inline-block;
    inline-size: 100%;
}

.form-control-1 .form-controls{
    margin-top: 30px;
}
.input-field input{
    background: #e5e5e5 0% 0% no-repeat padding-box;
    outline: none;
    border-radius: 13px;
    border: none;
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 20px;
    font-weight: 600;
    color: #858585;
}
.input-field input:placeholder-shown{
    color: #aaa;
    font-weight: 500;
}



/*----------FORM ĐĂNG KÍ-----------*/

.form-controls {
    display: flex;
    padding: 0 60px 0 40px;
}
.form-controls .controls {
    display: inline-block;
    inline-size: 100%;
}
.form-controls .controls input[type=text], .form-controls .controls input[type=tel], 
.form-controls .controls input[type=email], .form-controls .controls input[type=password],
 .form-controls .controls textarea, .form-controls .controls select {
    background: #e5e5e5 0% 0% no-repeat padding-box;
    outline: none;
    border-radius: 13px;
    border: none;
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 20px;
    font-weight: 600;
    color: #858585;
}
.form-controls .controls{
    margin-right: 30px;
    margin-top: 5px;
}
.form-controls .controls_flex {
    display: flex !important;
}
.form-controls label {
    padding: 20px 0;
    font-weight: 600;
    color: #222;
    font-size: 20px;
    min-width: 194px;
}

input {
    outline: none;
}
.controls p{
    margin: 0;
    color: red;
    font-size: 15px;
}

/*-------------------------*/

.btn{
    width: 170px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #ff9f00;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}
.btn:hover{
    color: #0a0a0a;
    width: 190px;
    height: 59px;
}
.social-text{
    padding: 0.7rem 0;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 60px;
    width: 60px;
    border: 2px solid #222;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    font-size: 1.3rem;
    border-radius: 50%;
}
.social-icon:hover{
    color:#ff9f00;
    border-color: #ff9f00;
}
.signin-signup{
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}
form.sign-up-form{
    z-index: 1;
    opacity: 0;
}
.image{
    width: 60%;
    transition: 1.1s 0.4s ease-in-out;
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 7;
    width: 70%;
}
.left-panel{
    pointer-events: all;
    padding: 3 rem 17% 2rem 12%;
}
.right-panel{
    pointer-events: none;
    padding: 3 rem 17% 2rem 12%;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.btn.transparent{
    margin: 0;
    background: none;
    color: #ff9f00;
    border: 2px solid #fff;
    width: 154px;
    height: 48px;
    font-weight: 600;
    font-size: 0.8rem;
}
.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

/*-----------Animation -------------*/

.container.sign-up-mode::before{
    transform: translate(100%, -50%);
    right: 52%;
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0px);
}
.container.sign-up-mode .left-panel{
    pointer-events: none;
}
.container.sign-up-mode .right-panel{
    pointer-events: all;
}
.container.sign-up-mode .signin-signup{
    left: 25%;
}
.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}
@media (max-width: 870px){
    .container{
        min-height: 800px;
        height:100vh;
    }
    .container:before, .panels-container{
        display: none;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
    }
    .panels-container{
        background-color: green;
        z-index: 10;
        grid-template-columns: 1fr;
    }
    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .right-panel .content, .right-panel .image{
        transform: translateX(0px);
    }
}
