/*gio hang*/
.tranggiohang {
    padding-top: 25px;
    padding-bottom: 25px;
}

.tranggiohang .ttsp {
    height: 50px;
    display: flex;
    text-align: center-left;
    align-items: center;
}

.tranggiohang .ttsp span {
    color: #fff;
    font-weight: 600;
    font-size: 15px
}

.tranggiohang .ttsp .sp {
    padding-left: 120px;
}

.tranggiohang .sanpham {
    border: 2px solid #444b52;
    height: 150px;
    display: flex;
    margin-bottom: 3px;
    text-align: center-left;
    align-items: center;
    background-color: #32373d;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    font-weight: 600;
}

.tranggiohang .sanpham .check input {
    margin-left: 25px;
    transform: scale(1.5);
    accent-color: #e74c3c;
}

.tranggiohang .sanpham .soluong span {
    border: 0.5px solid #BDBDBD;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.tranggiohang .sanpham .soluong input {
    text-align: center;
    border: 0.5px solid #BDBDBD;
    width: 45px;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(254, 254, 254);
    color: rgb(30, 25, 25);
    font-weight: 600;
}

.tranggiohang .sanpham .xoa {
    cursor: pointer;
    width: 35px;
    height: 45px;
    color: #ff9f00;
    margin-left: -15px;
    padding-top: 10px;
    text-align: center;
}

.tranggiohang .sanpham .tensanpham img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}


.tranggiohang .tongtien {
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    text-align: center-left;

    align-items: center;
    color: rgb(0, 0, 0);
    padding-left: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.tranggiohang .tongtien span {
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.1em;
}

.tranggiohang .thongtin {
    background-color: rgb(255, 255, 255);
    height: 100;
    text-align: center-left;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.tranggiohang .total {
    margin: 5px 182px;
    display: block;
    height: 100px;
    padding-top: 15px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.tranggiohang .total .benphai {
    float: right;
    position: relative;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    text-align: end;

}

.tranggiohang .total .benphai{
    color: #ff0404;
}

.tranggiohang .total .benphai input {
    color: #fff;
    margin-left: 20px;
    background-color: #ff9f00;
    border-color: #fff;
    height: 60px;
    width: 200px;
    border: 1px solid transparent;
    font-weight: 600;

    text-transform: uppercase;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tranggiohang .thongtin input:last-child {
    text-align: center;
    background-color: #BB0000;
    width: 100px;
    padding: 5px;
    margin: 20px;
    float: right;
    color: white;
}